.container-tracking-tool  {
    border: 2px solid #2A5788;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 10px;
}

.container-tracking-tool .min-percent  {
    color: #97D312;
}

.tracking-tool .tracking-tool-accordion-item {
    background-color: #E3E8EE;
    border: none;
    color: #516583;
    margin-top: 30px;
    outline: none;
    padding: 18px;
    text-align: left;
    transition: 0.4s;
    width: 100%;
}

.tracking-tool .accordion-content  {
    color: #516583;
}

.tracking-tool .tracking-tool-tree-icon  {
    cursor: pointer;
    display: inline-block;
    height: 20px;
    width: 20px;
}

.tracking-tool .learning-objective-title  {
    display: inline-block;
}

.tracking-tool .learning-objective-title a:link  {
    margin-left: 20px;
    text-decoration: underline;
}

.tracking-tool .tracking-tool-panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.tracking-tool .tracking-tool-progress-container {
    width: 100%;
    height: 10px;
    background-color: #c0c0c0;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.tracking-tool .tracking-tool-progress-container .target-line {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

.tracking-tool .tracking-tool-progress-container .progress-bar {
    height: 100%;
    background-color: #EA4052;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 5px 5px 5px;
    /*transition: width 0.5s ease-in-out;*/
}

.tracking-tool .tracking-tool-progress-container .progress-bar-percentage-completed  {
    height: 100%;
    background-color: #97D312;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 5px 0 0 5px;
    /*transition: width 0.5s ease-in-out;*/
}

.tracking-tool .accordion-content .percentage  {
    color: #2A5788;
    font-weight: bold;
    margin-left: 10px;
}

.tracking-tool .count-courses  {
    float: right;
}

.tracking-tool .completed-courses  {
    background-color: #97D312;
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
    color: #FFFFFF;
    padding: 3px;
}

.tracking-tool .not-completed-courses  {
    background-color: #EA4052;
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
    color: #FFFFFF;
    padding: 3px;
}

.tracking-tool .icon-check  {
    float: right;
}

.tracking-tool .icon-check.icon-check-not-completed  {
    background-color: #A1B5CB;
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    border-bottom-right-radius: 2px;
    padding-bottom: 4px;
    padding-left: 2px;
    padding-right: 2px;
}

.tracking-tool .icon-check.icon-check-completed  {
    background-color: #63B563;
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    border-bottom-right-radius: 2px;
    padding-bottom: 4px;
    padding-top: 1px;
    padding-left: 2px;
    padding-right: 2px;
}