<!-- BEGIN tracking_tool -->
<div class="container-tracking-tool">
    <div>
        <h2 class="h2-tracking-tool">
            <span>{TITLE}</span>
            <span class="tracking-tool tooltip">
                <img src="Customizing/global/plugins/Services/COPage/PageComponent/LearningObjectiveSuggestionsTrackingTool/templates/images/icon_info.svg" class="icon-legend">
                <span class="tracking-tool tooltiptext">
                    <span>
                        <span class="container-img">
                            <img src="Customizing/global/plugins/Services/COPage/PageComponent/LearningObjectiveSuggestionsTrackingTool/templates/images/icon_info.svg" class="icon-legend">
                            <span class="legend-text">{LEGENDS_TEXT_LEGENDS}</span>
                        </span>
                    </span><br>
                    <span>
                        <span class="container-img">
                            <img src="Customizing/global/plugins/Services/COPage/PageComponent/LearningObjectiveSuggestionsTrackingTool/templates/images/alert.svg" class="icon-legend">
                        </span>
                        {LEGENDS_TEXT_SOS} <span class="font-normal">{LEGENDS_TEXT_SOS_2}</span></span><br>
                    <span>
                        <span class="container-img">
                             <span class="last-visited triangle"></span>
                        </span>
                        {LEGENDS_TEXT_LAST_VISIT} <span class="font-normal">{LEGENDS_TEXT_LAST_VISIT_2}</span></span><br>
                    <span>
                        <span class="container-percent">
                            {LEGENDS_TEXT_PERCENT_3}
                        </span>
                        {LEGENDS_TEXT_PERCENT} <span class="font-normal">{LEGENDS_TEXT_PERCENT_2}</span>
                    </span><br>
                    <span>
                        <span class="container-img container-img-passed">
                            <img src="Customizing/global/plugins/Services/COPage/PageComponent/LearningObjectiveSuggestionsTrackingTool/templates/images/passed.svg" class="icon-legend">
                        </span>
                        {LEGENDS_TEXT_COMPLETED} <span class="font-normal">{LEGENDS_TEXT_COMPLETED_2}</span></span>
                </span>
            </span>
        </h2>
        <a href="{PRINT_BUTTON_LINK}" class="{PRINT_BUTTON_CLASS}">
            <img src="Customizing/global/plugins/Services/COPage/PageComponent/LearningObjectiveSuggestionsTrackingTool/templates/images/icon_file.svg" class="icon-file">
        </a>
        <p>{DESCRIPTION}</p>
        <p>{LEARNING_SUGGESTION}</p>
    </div>
    <h3>{SUGGESTED_COURSES_TITLE}</h3>
    <div>{HTML}</div>
    <h3>{NOT_SUGGESTED_COURSES_TITLE}</h3>
    <div class="entry-test">
        <input type="checkbox" name="entry-test">
        <label>Entry Test</label>
    </div>
</div>
<!-- END tracking_tool -->