<!-- BEGIN tracking_tool -->
<div class="container-tracking-tool">
    <div>
        <h2 class="h2-tracking-tool">
            <span>{TITLE}</span>
            <span class="tracking-tool tooltip">!
                <span class="tracking-tool tooltiptext">
                    <span>
                        <span>
                            <img src="Customizing/global/plugins/Services/COPage/PageComponent/LearningObjectiveSuggestionsTrackingTool/templates/images/alert.svg" class="icon-weight">
                        Legende - Das bedeutet die Icons:</span>
                    </span><br>
                    <span>
                        <span class="container-img">
                            <img src="Customizing/global/plugins/Services/COPage/PageComponent/LearningObjectiveSuggestionsTrackingTool/templates/images/alert.svg" class="icon-weight">
                        </span>
                        Achtung: <span class="font-normal">Je mehr Icons, desto stärker die Empfehlung, diesen Kurs weiter zu bearbeiten.</span></span><br>
                    <span>
                        <span class="container-img">
                            <img src="Customizing/global/plugins/Services/COPage/PageComponent/LearningObjectiveSuggestionsTrackingTool/templates/images/alert.svg" class="icon-weight">
                        </span>
                        Letzter Besuch: <span class="font-normal">Markiert den zuletzt geöffneten Kurs.</span></span><br>
                    <span>
                        <span class="container-percent">
                            4 von 4
                        </span>
                        Prozentzahl: <span class="font-normal">Gesamtleistung im Kurs oder Test.</span>
                    </span><br>
                    <span>
                        <span class="container-img container-img-passed">
                            <img src="Customizing/global/plugins/Services/COPage/PageComponent/LearningObjectiveSuggestionsTrackingTool/templates/images/passed.svg" class="icon-weight">
                        </span>
                        Abgeschlossen: <span class="font-normal">Der Kurs wurde vollständig bearbeitet!</span></span>
                </span>
            </span>
        </h2>
        <h3>{SUBTITLE}</h3>
        <p>{DESCRIPTION}</p>
        <p>{LEARNING_SUGGESTION}</p>
    </div>
    <div>{HTML}</div>
</div>
<!-- END tracking_tool -->